export NODE_ENV=development
export PORT=4000
export CLIENT=sqlite3
export FILEPATH=/Users/maurizionapoleoni/work/github_repos/ApolloYTCourse/src/database/$NODE_ENV.sqlite3
export DB_DEBUG=true
export JWT_PASS=''